尊敬的${companyName}企业管理人员：
    根据贵阳市工商局315消费维权指数系统的统计，您所在的企业于${periodTime}期间，因${warningType}，被标记为警示企业，特此通知！
                                                                                                                贵阳市工商局
                                                                                                                ${date}

